body{
    background-color: rgb(203, 255, 203);

    }

h1{
   font-size:130px; color: #3500f5;
   background-color: #f7f7f7;
   font-family: 'Lobster', cursive;
   display: block;   
   text-align: center;
   border-radius: 10%;
}

img{
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    width: auto;
    height: 400px;
    
    }

p{
    font-size: 20px;
    border: 2px solid powderblue;
    padding: 30px;

}

h2{
    font-size: 40px;
}

.skills{
    font-size: 20px;
    color:#000000;
}