* {
    padding: 0;
    margin: 0;
}

/*começo do cabeçalho*/
body {
    background-image: linear-gradient(to right, #7209b7, #560bad, #480ca8, #3a0ca3,#3f37c9,#4361ee);
}

#name {
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    text-align: center;
    color: aliceblue;
}